{% extends 'base.html' %}  
{% block content %} 


<div class="container search">
    {% if searched_profiles %}
        {% for profile in searched_profiles %} 
        <h2>{{ profile.username }}</h2>
        <div class="searched-pic">
            <a href="{% url 'view_profile' user.id %}"><img src="{{ profile.profile_photo.url  }}" alt="profile photo"></a>
        </div>
        
        {% endfor %}
    {% else %}

    <h1>sorry the searched profile doesn't exist</h1>

    {% endif %}

</div>

{% endblock %}
